.listView {
  flex: 1 1 auto;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
	flex-direction: column;
	flex-wrap: wrap;

  > .container {
    display: inline;
  }

  .meta {
    width: 100%;
    padding: 10px 13px;
    vertical-align: baseline;

    .location {
      display: inline-block;
      font-weight: 500;
      font-size: 14px;

      &:not(:empty) {
        margin-right: 10px;
      }
    }

    .date {
      display: inline-block;
      color: #989898;
      font-size: 13px;

      &:only-child {
        font-weight: 500;
        font-size: 14px;
        color: inherit;
      }
    }

    &:first-child {
      border: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    width: 16%;
    text-align: center;
    margin: 15px;
    vertical-align: middle;

    &.landscape {
      img {
        width: 100%;
        height: auto;
      }
    }

    &.portrait {
      img {
        height: auto;
        width: 70%;
      }
    }

  }
}
