.actionBar {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #fff;
  background: #00B5FF;
  padding: 5px !important;
  border-radius: 2px;

  li {
    width: 26px;
    height: 26px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    vertical-align: top;

    img {
      margin-top: -1px;
    }

    &:hover {
      background: #1E1E1E;
      border-color: #1E1E1E;
    }
  }
}
