.addView {
  height: 100vh;
  flex: 1 80%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  order: 2;
  background: #1e1e1e;
  padding-bottom: 50px;

  h2 {
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 15px;
  }

  .newAlbum {
    padding: 15px;

    input {
      display: inline-block;
      padding: 5px;
      border: none;
      border-radius: 4px;
      font-size: 12px;
      outline: none;
      width: 400px;
      height: 32px;
      margin-right: 15px;
      text-indent: 5px;
    }
  }

  .addToAlbum {
    ul {
      padding: 0 8px;
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        width: 22.3%;
        margin: 15px 10px 35px 10px;
        vertical-align: middle;
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-size: cover;
        position: relative;

        &.selected {
          box-shadow: 0px 0px 0px 1px #1E1E1E, 0px 0px 0px 3px rgba(0,181,255,1);
        }

        p {
          display: inline-block;
          font-weight: 100;
          font-size: 12px;
          color: #ffffff;
          text-align: left;
          position: absolute;
          bottom: -30px;
          margin: 0;
          padding: 5px 0;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .button {
      margin: 20px 15px 15px 15px;
    }
  }
}
