.albumsView {
  height: 100vh;
  flex: 1 80%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  order: 2;
  background: #1e1e1e;
  padding-bottom: 50px;

  h2 {
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 15px;
  }

  .albumList {
    padding: 5px 10px 10px 10px;

    .album {
      display: inline-block;
      list-style: none;
      width: 25%;
      padding: 5px;
      vertical-align: middle;

      p {
        display: inline-block;
        font-weight: 300;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.8);
        margin: 0 0 15px 0;
        text-align: left;
      }
    }
  }
}
